.weather-app {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #909090;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.time {
  position: relative;
  margin-left: 110px;
  margin-bottom: 0;
  margin-top: 0px;
  top: 50px;
  font-family: "Bai Jamjuree", sans-serif;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  width: 700px;
}
.tempnumber {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}
h2 {
  font-size: 80px;
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 18px;
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
}
.units {
  position: relative;
  margin-left: 140px;
  bottom: 120px;
  font-family: "Bai Jamjuree", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.description {
  position: relative;
  margin-bottom: 20px;
  bottom: 170px;
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.condition {
  position: relative;
  bottom: 180px;
  font-family: "Barlow", sans-serif;
}
.source-link {
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
}
.name {
  text-decoration: none;
}
.github {
  text-decoration: none;
}
.netlify {
  text-decoration: none;
}
