.weather-app {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgb(128 128 128 / 11%), 0 2px 2px rgb(61 61 61 / 11%),
    0 4px 4px rgb(61 61 61 / 11%), 0 6px 8px rgb(61 61 61 / 11%),
    0 8px 16px rgb(61 61 61 / 11%);
  background-image: linear-gradient(120deg, white 0%, white 100%);
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(226 229 222);
  margin-top: 30px;
}

.weather-app-wrapper {
  max-width: 450px;
  max-height: 700px;
  margin: 50px auto;
  margin-bottom: 0;
  margin-top: 0;
}
img {
  margin-bottom: 0;
  margin-top: 0;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
  outline: none;
  font-family: "Bai Jamjuree", sans-serif;
}
footer {
  text-align: center;
  margin: 20px;
  font-family: "Bai Jamjuree", sans-serif;
}
.current-time {
  margin-top: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: capitalize;
  color: #536162;
}
.search {
  margin-left: 20px;
  margin-top: 20px;
}
.button {
  font-size: 23px;
  margin-top: 20px;
  margin-left: 50px;
  border-style: none;
  background-color: white;
  color: #536162;
}

.temperature {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
}
.temperature-container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.font-colour {
  color: aliceblue;
}
.city {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
.units {
  margin-right: 90px;
  font-family: "Bai Jamjuree", sans-serif;
}
.units a {
  text-decoration: none;
}
.far {
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
}
.des {
  text-align: center;
  margin-bottom: 40px;
  color: #536162;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 15px;
  line-height: 1;
}
.des:first-letter {
  text-transform: capitalize;
}
.weather-info {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 500;
  text-align: center;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
}
.forecast-days {
  font-size: 15px;
  color: #808588;
}
.forecast-temperature {
  font-size: 18px;
}
.forecast-temperature-min {
  color: #808588;
}
