.weather-app {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #909090;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.time {
  font-family: "Bai Jamjuree", sans-serif;
  margin-left: 150px;
  margin-bottom: 0;
}
img {
  max-width: 600px;
}
h2 {
  font-size: 80px;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  text-align: center;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  text-align: center;
}
.units {
  font-family: "Bai Jamjuree", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.description {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.condition {
  font-family: "Barlow", sans-serif;
}
.source-link {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0px;
}
.name {
  text-decoration: none;
}
.github {
  text-decoration: none;
}
.netlify {
  text-decoration: none;
}
